oui-fab-buttons {
  display: flex;
  justify-content: right;
  margin: 1rem;
  position: relative;
  padding: var(--oui-global-spacing);
}

button {
  border-radius: 100px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

oui-fab-buttons > oui-svg.noti-unread {
  fill: red;
  background-color: white;
}

oui-fab-buttons > oui-svg.noti-read {
  fill: rgb(40,51,68);
  background-color: white;
}

oui-fab-buttons > oui-svg.noti-unused {
  fill: rgb(40,51,68);
  background-color: rgb(40,51,68);
}

