oui-fab-buttons {
  display: block;
  margin: 1rem;
  position: relative;
  padding: var(--oui-global-spacing);
}

.button-unread {
  float: right;
  border: solid white;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 12px;
  background-color: white;
}

.button-read {
  float: right;
  border: solid white;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 12px;
  background-color: white;
}

.button-unused {
  float: right;
  border: solid rgb(69, 76, 85);
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 12px;
  background-color: rgb(40, 51, 68);
}