oui-button {
  display: inline-block;
  user-select: none;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--oui-global-primary-color);
  padding: 0.5rem .75rem;
  color: #FFF;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

oui-button:hover:not(oui-button.oui-button__disabled) {
  background-color: var(--oui-global-primary-color-light);
}

oui-button:active:not(oui-button.oui-button__disabled) {
  background-color: var(--oui-global-primary-color-dark);
}

oui-button.oui-button__disabled {
  opacity: 0.8;
  color: #555;
  background-color: var(--oui-global-primary-disabled-color);
  cursor: not-allowed;
}
