nav-drawer aside {
  position: fixed;
  top: 0;
  width: 20rem;
  max-width: 80%;
  height: 100vh;
  background: #f3f3f3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition: left 0.3s ease-out;
  z-index: 100;
}

nav-drawer.default aside {
  left: -100%;
}

nav-drawer[opened].default aside {
  left: 0;
}

nav-drawer.reverse aside {
  right: -100%;
}

nav-drawer[opened].reverse aside {
  right: 0;
}

nav-drawer header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.3em;
  background: #FFF;
  border-bottom: 1px ridge rgba(0, 0, 0, 0.15);
}

nav-drawer header.reverse {
  flex-direction: row-reverse;
}

nav-drawer header h1 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

nav-drawer svg {
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.15s linear;
}

nav-drawer svg:hover {
  opacity: 1;
}

nav-drawer .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.20);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

nav-drawer[opened] .backdrop {
  opacity: 1;
  pointer-events: all;
}