:root {
    --grey-light-0: white;
    --grey-light-10: #f9f9f9;
    --grey-light-20: #f0f0f0;
    --grey-light-30: #e7e7e7;
    --grey-light-40: #a0a0a0;
    --grey-light-50: #999999;
    --grey-light-60: #666666;
    --grey-light-70: #555555;
    --grey-light-80: #333333;
    --grey-light-90: #111111;
    --grey-light-100: black;

    --oberd-green: #9dd91f;
    --oberd-dark-blue: #464466;
    --oberd-blue: #0094e1;
    --oberd-yellow: #ffcc66;

    --oberd-aqua: #00c4c0;
    --oberd-blue-60: #5c91f0;
    --oberd-blue-70: #51baf4;
    --oberd-blue-75: #487ede;
    --oberd-blue-90: #35aae2;
    --oberd-blue: #0094e1;
    --oberd-green-neon: #18c77f;
    --oberd-green: #9dd91f;
    --oberd-grey-0: #171c28;
    --oberd-grey-10: #293343;
    --oberd-grey-25: #424f64;
    --oberd-grey-30: #58637c;
    --oberd-grey-50: #5d7895;
    --oberd-dark-60: #8695b7;
    --oberd-grey-70: #b5bfcd;
    --oberd-grey-80: #dee4ea;
    --oberd-grey-100: #ffffff;
    --oberd-orange-50: #fe953e;
    --oberd-orange: #fbc240;
    --oberd-red: #f1556e;
    --oberd-slate-100: #5c7995;
    --oberd-slate-50: #899eb1;
    --oberd-violet-50: #9b6fda;
    --oberd-violet-80: #b77aee;

    --grey-0: var(--grey-light-0);
    --grey-10: var(--grey-light-10);
    --grey-20: var(--grey-light-20);
    --grey-30: var(--grey-light-30);
    --grey-40: var(--grey-light-40);
    --grey-50: var(--grey-light-50);
    --grey-60: var(--grey-light-60);
    --grey-70: var(--grey-light-70);
    --grey-80: var(--grey-light-80);
    --grey-90: var(--grey-light-90);
    --grey-100: var(--grey-light-100);
    --space-10: 0.4rem;
    --space-50: 0.75rem;
    --space-100: 1.2rem;
    --space-200: 2rem;
    --oui-font-family-large-headers: "Noto Sans", sans-serif;
    --oui-font-family-body-headers: "Noto Serif", sans-serif;
    --oui-font-family-body: "Noto Sans", sans-serif;
    --sliding-transition: all 0.3s cubic-bezier(0.88, 0.01, 0.53, 1);
}

.dark-mode * {
    --grey-0: var(--grey-light-100);
    --grey-10: var(--grey-light-90);
    --grey-20: var(--grey-light-80);
    --grey-30: var(--grey-light-70);
    --grey-40: var(--grey-light-60);
    --grey-50: var(--grey-light-50);
    --grey-60: var(--grey-light-40);
    --grey-70: var(--grey-light-30);
    --grey-80: var(--grey-light-20);
    --grey-90: var(--grey-light-10);
    --grey-100: var(--grey-light-0);
}

.condensed {
    --space-10: 0.2rem;
    --space-50: 0.5rem;
    --space-100: 1rem;
    --space-200: 2rem;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: var(--grey-10);
    font-family: var(--oui-font-family-body);
}

body {
    /** this avoids jumpiness when the page is dynamically extended past viewport height **/
    overflow-y: scroll;
}

oui-sidebar {
    /** to avoid FOUC, hide in the stylesheet before the elements are upgraded **/
    visibility: hidden;
}

oui-sidebar.hydrated {
    visibility: inherit;
}
