:host {
    display: inline-block;
}
button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    border: 1px solid var(--grey-40);
    padding: var(--space-10);
    border-radius: 5px;
    cursor: pointer;
}
::slotted(oui-icon) {
    margin-right: var(--space-10);
}

::slotted(oui-icon.suffix) {
    margin-left: var(--space-10);
}
