oui-noti-buttons-dark>button.button-unread, oui-noti-buttons-dark>button.button-read, oui-noti-buttons-dark>button.button-unused {
  transition: all 0.05s;
}

oui-noti-buttons-dark>button.button-unread, oui-noti-buttons-dark>button.button-read, oui-noti-buttons-dark>button.button-unused {
  outline: none;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

oui-noti-buttons-dark>button.button-unread:hover, oui-noti-buttons-dark>button.button-read:hover, oui-noti-buttons-dark>button.button-unused:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgb(101, 202, 130, 0.8);
}

oui-noti-buttons-dark>button.button-unread:active, oui-noti-buttons-dark>button.button-read:active, oui-noti-buttons-dark>button.button-unused:active {
  transform: scale(1);
}

oui-noti-buttons-dark>button.button-unread {
  float: right;
  border: solid white;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 12px;
  background-color: white;
}

oui-noti-buttons-dark>button.button-read {
  float: right;
  border: solid white;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 12px;
  background-color: white;
}

oui-noti-buttons-dark>button.button-unused {
  float: right;
  border: solid rgb(69, 76, 85);
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 12px;
  background-color: rgb(40, 51, 68);
}