:host {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}

nav {
    width: 0;
    overflow: hidden;
    transition: var(--sliding-transition);
}

nav.static,
nav.toggled {
    width: auto;
}

.title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-toggle {
    box-sizing: border-box;
    overflow: hidden;
    padding: var(--space-10);
}

.static .sidebar-toggle,
.toggled .sidebar-toggle {
    width: 0;
    padding-left: 0;
    padding-right: 0;
}

.title-bar-slot {
    flex: 1;
}

section {
    flex: 1;
}
