oui-drawer aside {
  position: fixed;
  top: 0;
  max-width: 100%;
  height: 100vh;
  background: #f3f3f3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition: left 0.3s ease-out;
  z-index: 100;
}

oui-drawer.default aside {
  left: -100%;
}

oui-drawer[opened].default aside {
  left: 0;
}

oui-drawer.reverse aside {
  right: -100%;
}

oui-drawer[opened].reverse aside {
  right: 0;
}

oui-drawer header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.3em;
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px ridge rgba(0, 0, 0, 0.15);
}

oui-drawer header.reverse {
  flex-direction: row-reverse;
}

oui-drawer header h1 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

oui-drawer oui-svg {
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.15s linear;
}

oui-drawer svg:hover {
  opacity: 1;
}

oui-drawer .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.20);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

oui-drawer[opened] .backdrop {
  opacity: 1;
  pointer-events: all;
}

oui-drawer oui-collapsable .oui-collapsable__title {
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 0.3em;
}

oui-drawer oui-collapsable .oui-collapsable__title:hover {
  background-color: rgba(50, 50, 80, 0.05);
}

oui-drawer oui-collapsable .oui-collapsable__title,
oui-drawer oui-collapsable .oui-collapsable__content {
  border: none;
  border-radius: 0;
}

oui-drawer oui-collapsable .oui-collapsable__content {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba( 0, 0, 0, 0.1);
}

