oui-noti-button {
  position: relative;
  order: 4;
  align-self: flex-end;
  justify-self: space-between;
}

oui-noti-button .oui-noti-button__status-counter {
  position: absolute;
  color: #fff;
  font-weight: bold;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0.1em 0.15em 0.1em -1px rgba(0, 0, 0, 0.5);
  padding: 0.1em 0.4em;
  z-index: 999;
}

oui-noti-button>.oui-noti-button__unread,
oui-noti-button>.oui-noti-button__read,
oui-noti-button>.oui-noti-button__unused {
  transition: all 0.05s;
  cursor: pointer;
  outline: none;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

oui-noti-button>.oui-noti-button__unread:hover,
oui-noti-button>.oui-noti-button__read:hover {
  box-shadow: 0.125em 0.125em 0.625em rgba(0, 0, 0, 0.2);
  background-color: rgb(237, 237, 237);
  border: solid rgb(237, 237, 237);
}

oui-noti-button>.oui-noti-button__unread:active,
oui-noti-button>.oui-noti-button__read:active {
  opacity: 0.5;
}

oui-noti-button>.oui-noti-button__unused {
  cursor: not-allowed;
  opacity: 0.5;
}

oui-noti-button>.oui-noti-button__unread {
  border: solid white;
  border-radius: 50%;
  padding: 0.5em;
  margin: 0.75em;
  background-color: white;
  display: inline-flex;
  flex-direction: row-reverse;
}

oui-noti-button>.oui-noti-button__read {
  border: solid white;
  border-radius: 50%;
  padding: 0.5em;
  margin: 0.75em;
  background-color: white;
}

oui-noti-button>.oui-noti-button__unused {
  border: solid rgb(134, 134, 134);
  border-radius: 50%;
  padding: 0.5em;
  margin: 0.75em;
  background-color: white;
  color: rgb(134, 134, 134);
}

body.dark oui-noti-button .oui-noti-button__unread:hover,
body.dark oui-noti-button>.oui-noti-button__read:hover {
  box-shadow: 0.125em 0.125em 0.625em rgb(101, 202, 130, 0.8);
}

body.dark oui-noti-button .oui-noti-button__unread:active,
body.dark oui-noti-button>.oui-noti-button__read:active {
  opacity: 0.5;
}

body.dark oui-noti-button .oui-noti-button__unread {
  border: solid rgb(237, 237, 237);
  border-radius: 50%;
  box-shadow: 0.125em 0.125em 0.625em rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 0.75em;
  background-color: rgb(237, 237, 237);
}

body.dark oui-noti-button .oui-noti-button__read {
  border: solid rgb(237, 237, 237);
  border-radius: 50%;
  box-shadow: 0.125em 0.125em 0.625em rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 0.75em;
  background-color: rgb(237, 237, 237);
}

body.dark oui-noti-button .oui-noti-button__unused {
  border: solid rgb(69, 76, 85);
  border-radius: 50%;
  box-shadow: 0.125em 0.125em 0.625em rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 0.75em;
  background-color: rgb(40, 51, 68);
}

body.dark oui-noti-button .oui-noti-button__status-counter {
  background-color: rgb(40, 51, 68);
}
