oui-noti-button {
  position: relative;
  order: 4;
  align-self: flex-end;
  justify-self: space-between;
}

oui-noti-button .oui-noti-button__status-counter {
  position: absolute;
  color: #fff;
  font-weight: bold;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0.1em 0.15em 0.1em -1px rgba(0, 0, 0, 0.5);
  padding: 0.1em 0.4em;
  z-index: 999;
}

oui-noti-button > button {
  outline: none;
  border-radius: 50%;
  padding: 0.5em;
  margin: 0.75em;
  border: solid #FFF;
  background-color: #FFF;
  cursor: pointer;
}

oui-noti-button > oui-svg {
  outline: none;
  transition: all 0.05s linear;
}

oui-noti-button > .oui-noti-button__unread:hover,
oui-noti-button > .oui-noti-button__read:hover {
  box-shadow: 0.125em 0.125em 0.625em rgba(0, 0, 0, 0.2);
  background-color: rgb(237, 237, 237);
  border: solid rgb(237, 237, 237);
}

oui-noti-button > .oui-noti-button__unread:active,
oui-noti-button > .oui-noti-button__read:active {
  opacity: 0.5;
}

oui-noti-button > .oui-noti-button__unread {
  display: inline-flex;
  flex-direction: row-reverse;
}

oui-noti-button > .oui-noti-button__unread svg path {
  fill: #FF0000;
  stroke: #FF0000;
}


oui-noti-button > .oui-noti-button__read svg path {
  fill: #335;
  stroke: #335;
}

oui-noti-button > .oui-noti-button__unused {
  border: 2px solid #667;
  cursor: not-allowed;
  opacity: 0.8;
}

oui-noti-button > .oui-noti-button__unused svg path {
  stroke: #557;
  stroke-width: 1.3px;
}

/** Dark theme style */

body.dark oui-noti-button .oui-noti-button__unread:hover,
body.dark oui-noti-button > .oui-noti-button__read:hover {
  box-shadow: 0.125em 0.125em 0.625em rgb(101, 202, 130, 0.8);
}

body.dark oui-noti-button .oui-noti-button__unread:active,
body.dark oui-noti-button > .oui-noti-button__read:active {
  opacity: 0.5;
}

body.dark oui-noti-button .oui-noti-button__read,
body.dark oui-noti-button .oui-noti-button__unread {
  background-color: rgb(237, 237, 237);
}

body.dark oui-noti-button .oui-noti-button__unused {
  background-color: rgb(40, 51, 68);
  border-color: #889;
}

body.dark oui-noti-button .oui-noti-button__unused svg path {
  stroke: #889;
}
