oui-noti-buttons>button#buttonUnread, oui-noti-buttons>#buttonRead, oui-noti-buttons>#buttonUnused {
  transition: all 0.05s;
  cursor: pointer;
  outline: none;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

oui-noti-buttons>button#buttonUnread:hover, oui-noti-buttons>button#buttonRead:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(237, 237, 237);
  border: solid rgb(237, 237, 237);
}

oui-noti-buttons>button#buttonUnused:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(237, 237, 237);
  /* border: solid rgb(237, 237, 237); */
}

oui-noti-buttons>button#buttonUnread:active, oui-noti-buttons>button#buttonRead:active, oui-noti-buttons>button#buttonUnused:active {
  transform: scale(1);
}

oui-noti-buttons>button#buttonUnread {
  float: right;
  border: solid white;
  border-radius: 50%;
  padding: 8px;
  margin: 12px;
  background-color: white;
}

oui-noti-buttons>button#buttonRead {
  float: right;
  border: solid white;
  border-radius: 50%;
  padding: 8px;
  margin: 12px;
  background-color: white;
}

oui-noti-buttons>button#buttonUnused {
  float: right;
  border: solid rgb(134, 134, 134);
  border-radius: 50%;
  padding: 8px;
  margin: 12px;
  background-color: white;
}

oui-noti-buttons.dark>button#buttonUnread:hover, oui-noti-buttons.dark>button#buttonRead:hover, oui-noti-buttons.dark>button#buttonUnused:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 10px rgb(101, 202, 130, 0.8);
}

oui-noti-buttons.dark>button#buttonUnread:active, oui-noti-buttons.dark>button#buttonRead:active, oui-noti-buttons.dark>button#buttonUnused:active {
  transform: scale(1);
}

oui-noti-buttons.dark>button#buttonUnread {
  float: right;
  border: solid rgb(237, 237, 237);
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 12px;
  background-color: rgb(237, 237, 237);
}

oui-noti-buttons.dark>button#buttonRead {
  float: right;
  border: solid rgb(237, 237, 237);
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 12px;
  background-color: rgb(237, 237, 237);
}

oui-noti-buttons.dark>button#buttonUnused {
  float: right;
  border: solid rgb(69, 76, 85);
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 12px;
  background-color: rgb(40, 51, 68);
}