body.dark oui-nav-bar {
display: flex;
flex-direction: row;
/* justify-content: flex-end; */
list-style-type: none;
padding: 3px 5px;
margin-top: 3em;
background-color: rgb(40, 51, 68);
position: relative;
top: 0;
width: inherit;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
border-radius: 50px;
/* overflow: visible; */
}

oui-nav-bar {
display: flex;
flex-direction: row;
/* justify-content: flex-end; */
list-style-type: none;
padding: 3px 5px;
margin-top: 3em;
background-color: white;
position: relative;
top: 0;
width: inherit;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
border-radius: 50px;
/* overflow: visible; */
} 